.DS_Store
*/.settings/*
*/.idea/*
.classpath
.project
*/gen/*
*~
*/classes/*

# built application files
./*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# machine-specific build properties
local.properties

#vi temp files
*.swp
