.DS_Store
*/.settings/*
.classpath
.project

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# machine-specific build properties
local.properties

